@model ULDCustomer.Models.ViewModel.SiteSubscriber
@{
    ViewBag.Title = "Create Account: Mail Monitor";
}
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
<h2>Sign Up</h2>
@using (Html.BeginForm("CreateSubscriber", "PinPayment"))
{
    @Html.AntiForgeryToken()  
        @Html.HiddenFor(m=>m.ServiceLevel)
    @Html.HiddenFor(m=>m.SubscriptionId)
    <div class="form-horizontal">
        <h4>New to MailMonitor? Sign Up Today.</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <label class="control-label col-md-2">First Name</label>
                <div class="col-md-9">
                    @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control text-box single-line" } })
                    @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                </div>
</div>
        <div class="form-group">
            <label class="control-label col-md-2">Last Name</label>
            <div class="col-md-9">
                @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control text-box single-line" } })
                @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-9">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control text-box single-line" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
        </div>       

        <div class="form-group">
            <label class ="control-label col-md-2">  Company Name</label>  
            <div class="col-md-9">
                @Html.EditorFor(model => model.Company, new { htmlAttributes = new { @class = "form-control text-box single-line" } })
                @Html.ValidationMessageFor(model => model.Company, "", new { @class = "text-danger" })
            </div>
        </div>

         <div class="form-group" style="display:none;">
            @Html.LabelFor(model => model.PromoCode, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-9">
                @Html.EditorFor(model => model.PromoCode, new { htmlAttributes = new { @class = "form-control text-box single-line" } })
                @Html.ValidationMessageFor(model => model.PromoCode, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <span></span>
            <div style="font-size:14px;white-space:nowrap;margin-left:252px;">By clicking below you are agreeing to the <a href="http://mailmonitorapp.com/terms/" target="_blank">Terms and Conditions.</a></div>
        </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Sign Up" class="btn btn-lg btn-primary" />
        </div>
    </div>
    </div>
}
