@model IEnumerable<ULDCustomer.Models.ViewModel.Plans>

@{
    ViewBag.Title = "Subscriptions";
}

<h2>Subscriptions</h2>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th>Select Subscription</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td><a href="@Url.Action("CreateSubscriber","PinPayment", new { @id = item.Id })">Select Subscription</a></td>
        </tr>
    }

</table>
